torch==2.1.0+rocm5.6
torchaudio==2.1.0+rocm5.7
torchvision==0.16.0+rocm5.7
pathfinding==1.0.4
python-socketio==5.8.0
aiohttp==3.8.5
pydantic==2.2.1
transformers
sentence_transformers==2.2.2
accelerate==0.22.0
qdrant-client==1.5.0
langchain
jupyterlab==4.0.7
ipykernel==6.25.2
optimum==1.13.2