llama-cpp-python[server]
pathfinding==1.0.4
python-socketio==5.8.0
aiohttp>=3.10.0
pydantic
qdrant-client==1.5.0
jupyterlab==4.0.7
ipykernel==6.25.2
openai
sentence-transformers
groq
colorama


dspy-ai
